#frame{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0rem 8rem;
}

#header{
    margin: 3rem 0rem;
    color: black;
}

#sub-header{
    color: #39B2A8;
}

#para{
    line-height: 1.6;
}

#section-1{
    display: grid;
    grid-template-columns: 5fr 3fr;
    margin: 3rem 0rem;
}

#section-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#section-3{
    display: grid;
    justify-content: center;
    margin: 3.5rem 0rem;
}

.item{
    margin: 3rem 6rem 3rem 0rem;
}

#first{
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-around;
}

#second{
    margin: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#third{
    text-align: center;
}

.footer-icon{
    font-size: 2.25rem;
}

@media (max-width: 1024px) {
    #section-2{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 767px) {
    #frame{
        margin: 0rem 3rem;
    }
}

@media (max-width: 650px) {
    #frame{
        margin: 0rem 0.5rem;
    }
    #header{
        text-align: center;
    }

    #section-1{
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }

    #btn1{
        margin: auto;
    }

    #section-2{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .item{
        margin: auto;
    }
}
